<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="application-default-page-script">


    <!-- jQuery -->
    <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" th:src="@{js/popper.min.js}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" th:src="@{js/mdb.min.js}"></script>

</div>

</body>
</html>