<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/header :: application-head"></head>

<body style="background: #f5f5f5">

<div th:replace="fragment/header :: application-top-header"></div>

<div class="container-fluid">

    <div class="card m-3">
        <div class="container-fluid">
            <div class="row mt-4">

                <div class="container-fluid m-3">
                    <h4>Recent Product</h4>
                </div>

                <div class="col-lg-3 mb-3">
                    <!-- Card Dark -->
                    <div class="card">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg"
                                 alt="Card image cap">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body elegant-color white-text rounded-bottom">

                            <!-- Social shares button -->
                            <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
                            <!-- Title -->
                            <h4 class="card-title">Card title</h4>
                            <hr class="hr-light">
                            <!-- Text -->
                            <p class="card-text white-text mb-4">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <!-- Link -->
                            <a href="#!" class="white-text d-flex justify-content-end">
                                <h5>Read more <i class="fas fa-angle-double-right"></i></h5>
                            </a>

                        </div>

                    </div>
                    <!-- Card Dark -->
                </div>

                <div class="col-lg-3 mb-3">
                    <!-- Card Dark -->
                    <div class="card">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg"
                                 alt="Card image cap">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body elegant-color white-text rounded-bottom">

                            <!-- Social shares button -->
                            <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
                            <!-- Title -->
                            <h4 class="card-title">Card title</h4>
                            <hr class="hr-light">
                            <!-- Text -->
                            <p class="card-text white-text mb-4">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <!-- Link -->
                            <a href="#!" class="white-text d-flex justify-content-end">
                                <h5>Read more <i class="fas fa-angle-double-right"></i></h5>
                            </a>

                        </div>

                    </div>
                    <!-- Card Dark -->
                </div>

                <div class="col-lg-3 mb-3">
                    <!-- Card Dark -->
                    <div class="card">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg"
                                 alt="Card image cap">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body elegant-color white-text rounded-bottom">

                            <!-- Social shares button -->
                            <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
                            <!-- Title -->
                            <h4 class="card-title">Card title</h4>
                            <hr class="hr-light">
                            <!-- Text -->
                            <p class="card-text white-text mb-4">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <!-- Link -->
                            <a href="#!" class="white-text d-flex justify-content-end">
                                <h5>Read more <i class="fas fa-angle-double-right"></i></h5>
                            </a>

                        </div>

                    </div>
                    <!-- Card Dark -->
                </div>

                <div class="col-lg-3 mb-3">
                    <!-- Card Dark -->
                    <div class="card">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg"
                                 alt="Card image cap">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body elegant-color white-text rounded-bottom">

                            <!-- Social shares button -->
                            <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
                            <!-- Title -->
                            <h4 class="card-title">Card title</h4>
                            <hr class="hr-light">
                            <!-- Text -->
                            <p class="card-text white-text mb-4">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <!-- Link -->
                            <a href="#!" class="white-text d-flex justify-content-end">
                                <h5>Read more <i class="fas fa-angle-double-right"></i></h5>
                            </a>

                        </div>

                    </div>
                    <!-- Card Dark -->
                </div>


                <div class="col-lg-3 mb-3">
                    <!-- Card -->
                    <div class="card">

                        <!-- Card image -->
                        <div class="view">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                                 alt="Card image cap">
                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title">Card title</h4>
                            <!-- Text -->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's
                                content.</p>
                            <!-- Button -->
                            <a href="#" class="btn btn-primary">Button</a>

                        </div>

                    </div>
                    <!-- Card -->
                </div>

                <div class="col-lg-3 mb-3">
                    <!-- Card -->
                    <div class="card">

                        <!-- Card image -->
                        <div class="view">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                                 alt="Card image cap">
                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title">Card title</h4>
                            <!-- Text -->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's
                                content.</p>
                            <!-- Button -->
                            <a href="#" class="btn btn-primary">Button</a>

                        </div>

                    </div>
                    <!-- Card -->
                </div>

                <div class="col-lg-3 mb-3">
                    <!-- Card -->
                    <div class="card">

                        <!-- Card image -->
                        <div class="view">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                                 alt="Card image cap">
                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title">Card title</h4>
                            <!-- Text -->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's
                                content.</p>
                            <!-- Button -->
                            <a href="#" class="btn btn-primary">Button</a>

                        </div>

                    </div>
                    <!-- Card -->
                </div>

                <div class="col-lg-3 mb-3">
                    <!-- Card -->
                    <div class="card">

                        <!-- Card image -->
                        <div class="view">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                                 alt="Card image cap">
                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title">Card title</h4>
                            <!-- Text -->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's
                                content.</p>
                            <!-- Button -->
                            <a href="#" class="btn btn-primary">Button</a>

                        </div>

                    </div>
                    <!-- Card -->
                </div>

            </div>
        </div>
    </div>


    <div class="card m-3 mt-4">
        <div class="container-fluid">

            <div class="row m-4 mt-5">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                           aria-controls="pills-home" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                           aria-controls="pills-profile" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                           aria-controls="pills-contact" aria-selected="false">Contact</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">Consequat
                        occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat
                        velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo
                        anim ex veniam culpa eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing
                        minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt
                        nostrud.</div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Ad
                        pariatur nostrud pariatur exercitation ipsum ipsum culpa mollit commodo mollit ex. Aute sunt incididunt
                        amet commodo est sint nisi deserunt pariatur do. Aliquip ex eiusmod voluptate exercitation cillum id
                        incididunt elit sunt. Qui minim sit magna Lorem id et dolore velit Lorem amet exercitation duis
                        deserunt. Anim id labore elit adipisicing ut in id occaecat pariatur ut ullamco ea tempor duis.</div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">Est
                        quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure ex.
                        Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim
                        exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit
                        aliquip nostrud. Amet ex cupidatat excepteur aute veniam incididunt mollit cupidatat esse irure officia
                        elit do ipsum ullamco Lorem. Ullamco ut ad minim do mollit labore ipsum laboris ipsum commodo sunt
                        tempor enim incididunt. Commodo quis sunt dolore aliquip aute tempor irure magna enim minim
                        reprehenderit. Ullamco consectetur culpa veniam sint cillum aliqua incididunt velit ullamco sunt
                        ullamco quis quis commodo voluptate. Mollit nulla nostrud adipisicing aliqua cupidatat aliqua pariatur
                        mollit voluptate voluptate consequat non.</div>
                </div>
            </div>

            <div class="row mt-4">

                <div class="col-lg-3 mb-3">
                    <!-- Card Dark -->
                    <div class="card">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg"
                                 alt="Card image cap">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body elegant-color white-text rounded-bottom">

                            <!-- Social shares button -->
                            <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
                            <!-- Title -->
                            <h4 class="card-title">Card title</h4>
                            <hr class="hr-light">
                            <!-- Text -->
                            <p class="card-text white-text mb-4">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <!-- Link -->
                            <a href="#!" class="white-text d-flex justify-content-end">
                                <h5>Read more <i class="fas fa-angle-double-right"></i></h5>
                            </a>

                        </div>

                    </div>
                    <!-- Card Dark -->
                </div>

                <div class="col-lg-3 mb-3">
                    <!-- Card Dark -->
                    <div class="card">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg"
                                 alt="Card image cap">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body elegant-color white-text rounded-bottom">

                            <!-- Social shares button -->
                            <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
                            <!-- Title -->
                            <h4 class="card-title">Card title</h4>
                            <hr class="hr-light">
                            <!-- Text -->
                            <p class="card-text white-text mb-4">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <!-- Link -->
                            <a href="#!" class="white-text d-flex justify-content-end">
                                <h5>Read more <i class="fas fa-angle-double-right"></i></h5>
                            </a>

                        </div>

                    </div>
                    <!-- Card Dark -->
                </div>

                <div class="col-lg-3 mb-3">
                    <!-- Card Dark -->
                    <div class="card">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg"
                                 alt="Card image cap">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body elegant-color white-text rounded-bottom">

                            <!-- Social shares button -->
                            <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
                            <!-- Title -->
                            <h4 class="card-title">Card title</h4>
                            <hr class="hr-light">
                            <!-- Text -->
                            <p class="card-text white-text mb-4">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <!-- Link -->
                            <a href="#!" class="white-text d-flex justify-content-end">
                                <h5>Read more <i class="fas fa-angle-double-right"></i></h5>
                            </a>

                        </div>

                    </div>
                    <!-- Card Dark -->
                </div>

                <div class="col-lg-3 mb-3">
                    <!-- Card Dark -->
                    <div class="card">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg"
                                 alt="Card image cap">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body elegant-color white-text rounded-bottom">

                            <!-- Social shares button -->
                            <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
                            <!-- Title -->
                            <h4 class="card-title">Card title</h4>
                            <hr class="hr-light">
                            <!-- Text -->
                            <p class="card-text white-text mb-4">Some quick example text to build on the card title and
                                make up the bulk
                                of the card's content.</p>
                            <!-- Link -->
                            <a href="#!" class="white-text d-flex justify-content-end">
                                <h5>Read more <i class="fas fa-angle-double-right"></i></h5>
                            </a>

                        </div>

                    </div>
                    <!-- Card Dark -->
                </div>


                <div class="col-lg-3 mb-3">
                    <!-- Card -->
                    <div class="card">

                        <!-- Card image -->
                        <div class="view">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                                 alt="Card image cap">
                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title">Card title</h4>
                            <!-- Text -->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's
                                content.</p>
                            <!-- Button -->
                            <a href="#" class="btn btn-primary">Button</a>

                        </div>

                    </div>
                    <!-- Card -->
                </div>

                <div class="col-lg-3 mb-3">
                    <!-- Card -->
                    <div class="card">

                        <!-- Card image -->
                        <div class="view">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                                 alt="Card image cap">
                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title">Card title</h4>
                            <!-- Text -->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's
                                content.</p>
                            <!-- Button -->
                            <a href="#" class="btn btn-primary">Button</a>

                        </div>

                    </div>
                    <!-- Card -->
                </div>

                <div class="col-lg-3 mb-3">
                    <!-- Card -->
                    <div class="card">

                        <!-- Card image -->
                        <div class="view">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                                 alt="Card image cap">
                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title">Card title</h4>
                            <!-- Text -->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's
                                content.</p>
                            <!-- Button -->
                            <a href="#" class="btn btn-primary">Button</a>

                        </div>

                    </div>
                    <!-- Card -->
                </div>

                <div class="col-lg-3 mb-3">
                    <!-- Card -->
                    <div class="card">

                        <!-- Card image -->
                        <div class="view">
                            <img class="card-img-top"
                                 src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                                 alt="Card image cap">
                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title">Card title</h4>
                            <!-- Text -->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's
                                content.</p>
                            <!-- Button -->
                            <a href="#" class="btn btn-primary">Button</a>

                        </div>

                    </div>
                    <!-- Card -->
                </div>

            </div>
        </div>
    </div>


</div>

<div th:replace="fragment/scripts :: application-default-page-script"></div>


</body>
</html>
